// :root {
//   --grid-temp: ;
// }

@keyframes curtain-in {
  0% {
    grid-gap: 0;
  }

  100% {
    grid-gap: 10vw;
  }
}

@keyframes curtain-out {
  0% {
    grid-gap: 10vw;
  }

  100% {
    grid-gap: 0;
  }
}

body {
  margin: 0;
}

.snake {
  display: grid;
  grid-template: repeat(6, 300px) / 1fr;

  &__part {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  }

  @for $i from 1 through 7 {
    &__part:nth-child(#{$i}) {
      background-color: hsl(0, 100%, (6 - $i) * 10%);
    }
  }
  
  &__num {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }
}

.snake--animate-in {
  animation: 0.4s curtain-in ease both;
}

.snake--animate-out {
  animation: 0.4s 0.4s curtain-out ease both;
}

@media (min-width: 600px) {
  .snake {
    grid-template: repeat(3, 300px) / 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .snake {
    grid-template: repeat(2, 300px) / 1fr 1fr 1fr;
  }
}
